html {
    font-size: 16px;
}
.timecomponent {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        p {
            font-family: "Roboto", sans-serif;
            color: white;
            font-size: 20px;

            font-weight: 500;
            line-height: 10px;
            text-transform: uppercase;
        }
    }
}
