html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../src/assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
